<h1>Your stuff to do</h1>

<% for task in @tasks %>
    <div class="link row clearfix">
        <div class="link-rating">
            <h2><%= link_to task.title, task_path(task) %> | <%= task.priority %> </h2>
        </div>
            
            <h2><small class="author">Created <%= time_ago_in_words(task.created_at) %> ago</small></h2>
    </div>
<% end %>
