/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 @import 'homes';
 @import "registration";



 $nav-bar:#FE5F55;  
 $background: #F7F7FF; 
 $button-colors: #BDD5EA; 
 $button-font: #fff;

* {
    margin: 100; 
}

 body {
    background-color: $background;
}

//------------thicc------------//
header {
    background-color: $nav-bar;
    padding: 0px 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: $nav-bar;
    width: 100%;
    color: #fff;
    font-weight: 800;

    /*icon sizing*/
    img {
        width:56px; 
        height:72px;
    }

    p {
        color: #fff;
        margin: auto 0;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 3px;
        float: left;
        margin-right: 15px;
        text-transform: uppercase;
    }

        a:hover {
            text-decoration: none;
        }
}

.start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cheat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.show-divide-right {
    float: right;
}

.center {
    text-align: center;
}

.card-1 {
    margin: 0 30px;
}

.button-1 {
    background-color: $background !important;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    width: 100px;

}

.p-1 {
    margin: 0px;
    font-size: 5px;
}

#show-divide {
    display: flex;  
    align-items: stretch;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body-subset {
    display: flex;
    margin: 5px 10px;
}

.card-title {
    font-weight: bold;
    display: flex;

}

.card-text {
    padding-left: 10px;

}

.form {
    display: flex;
    justify-content: space-around;
}

.actions {
  padding: 12px 0px 12px 0px
}

/* Style inputs, select elements and textareas */
.container {
    input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
}

  /* Style the label to display next to the inputs */
label {
    padding: 12px 0 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 50px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .main-div {
    margin-left: 50px;
  }

  .link-rating {
      display: flex;
      justify-content: space-between;
  }

  .link-overview {
      width: 500px;
      margin: 0 auto;
  }

  .index-ovw {
      text-align: center;
  }

  .case-1 {
      color: red;
  }

  .case-2 {
    color: orange;
}

.case-3 {
    color: greenyellow;
}

.show-img {

    img {
        height: 30vh;
    }
}