/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    background-color: #bdd5ea;
    margin: 0 20px;
}

.show-divide-right {
    float: right;
}

.center {
    text-align: center;
}

.card-1 {
    margin: 0 30px;
}

.button-1 {
    background-color: #495867;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    width: 100px;

}

.p-1 {
    margin: 0px;
    font-size: 5px;
}

#show-divide {
    display: flex;  
    align-items: stretch;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body-subset {
    display: flex;
    margin: 5px 10px;
}

.card-title {
    font-weight: bold;
    display: flex;

}

.card-text {
    padding-left: 10px;

}