.new_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}